.blur {


    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__card {
        position: relative;
        


    }

    &__img {
        display: block;
        width: 100%;
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 90px 30px;

    }

    &__title {
        color: $white;
        font-family: 'PlayfairDisplay';
        font-weight: 400;
        font-size: 48px;
        line-height: 50px;
        text-transform: uppercase;

        text-align: center;
    }

    &__btn {
        
        color: $white;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        padding: 13px 0;
        border: 1px solid $white;
        text-align: center;
    }

    &__filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        transition: 0.6s;
        filter: blur(7px);
        
        

        &:hover {
                transition: 0.6s;
                opacity: 0;
            
        }
    }

    
}

@media (max-width:1350px) {
    .blur__inner{

        display: grid;
        grid-template-columns: repeat(2,1fr);
   }
}

@media (max-width:750px){
    .blur__inner{

        display: grid;
        grid-template-columns: 1fr;
   }
}