.menu {

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3 ,1fr);
    }




    &__content {
        max-width: 960px;
        width: 100%;
        height: 500px;
        padding: 50px;

    }


    &__wrapper {
        padding: 50px;
    }



    &__number {
        font-size: 48px;
        line-height: 50px;
        font-family: 'PlayfairDisplay';
        font-weight: 400;
        text-align: center;
        color: $black;
        margin-bottom: 30px;
    }

    &__list {
        overflow-y: scroll;
        direction: rtl;
        padding: 0 54px 54px;
        display: block;
        max-height: 90%;
        max-width: 760px;
        width: 100%;


    }

    &__list::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 40%, rgba(196, 196, 196, 1) 50%, rgba(255, 255, 255, 0) 40%);
    }

    &__list::-webkit-scrollbar-thumb {
        background: #C4C4C4;
        
    }

   &__item{
    margin-bottom: 30px;
   }

    &__name {
        font-size: 20px;
        line-height: 24px;
        font-family: 'PlayfairDisplay';
        font-weight: 400;
        color: $black;
        direction: rtl;
        text-align: left;
        margin-bottom: 10px;
    }


    &__description {
        font-size: 18px;
        line-height: 24px;
        font-family: 'PlayfairDisplay';
        font-weight: 400;
        color: $black;
        direction: rtl;
        text-align: left;
        max-width: 765px;
        width: 100%;

        & span {
            display: block;
        }
    }





}

.slider {
    position: relative;
    
    max-width: 960px;
    height: auto;

    overflow: hidden;

    &__wrapper {}

    &__items {
        display: flex;
        // position: absolute;
        


    }

   

    &__img {
        width: unset;
    }

    &__pagination {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 43px;
        left: 0;
        right: 0;
        max-width: 220px;
        width: 100%;
        margin: 0 auto;


        z-index: 9999;
    }

    &__round {
        display: block;
        max-width: 20px;
        width: 100%;
        min-height: 20px;
        height: 100%;
        background: rgba(196, 196, 196, 0.7);
        border-radius: 50%;

        &.active {
            background: $white;
        }
    }

}

@media (max-width:1400px) {
    
    .menu {

        &__inner {
            
            
            
            display: grid;
            max-width: fit-content;
            margin: 0 auto;
            grid-template-columns: 1fr;
            grid-template-rows: unset;
            justify-content: center;
            align-items: center;
 
        }
    }
}

@media(max-width:620px){
    .slider{
        max-width: 350px;
        width: 100%;
    }
    .menu__content{
        max-width: 350px;
        width: 100%;
    }
}

