.menu {

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: $white;

        & :nth-child(1){
            grid-row: 1;
        }
        & :nth-child(2){
            grid-row: 2;
        }
        & :nth-child(3){
            grid-row: 3;
        }
        & :nth-child(4){
            grid-row: 1;
            grid-column: 2;
        }
        & :nth-child(5){
            grid-row: 2;
            grid-column: 2;
        }
        & :nth-child(6){
            grid-row: 3;
            grid-column: 2;
        }
    }




    &__content {
        max-width: 960px;
        width: 100%;
        min-height: 700px;
        padding: 50px;

    }


    &__wrapper {
        padding: 50px;
    }

    &__content {}

    &__number {
        font-size: 48px;
        line-height: 50px;
        font-family: 'PlayfairDisplay';
        font-weight: 400;
        text-align: center;
        color: $black;
        margin-bottom: 30px;
    }

    &__list {
        overflow: auto;
        height: 500px;
        direction: rtl;
        padding: 0 54px 54px;
        display: block;



    }

    &__list::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 40%, rgba(196, 196, 196, 1) 50%, rgba(255, 255, 255, 0) 40%);
    }

    &__list::-webkit-scrollbar-thumb {
        background: #C4C4C4;
        
    }

   &__item{
    margin-bottom: 30px;
   }

    &__name {
        font-size: 20px;
        line-height: 24px;
        font-family: 'PlayfairDisplay';
        font-weight: 400;
        color: $black;
        direction: rtl;
        text-align: left;
        margin-bottom: 10px;
    }


    &__description {
        font-size: 18px;
        line-height: 24px;
        font-family: 'PlayfairDisplay';
        font-weight: 400;
        color: $black;
        direction: rtl;
        text-align: left;
        max-width: 765px;
        width: 100%;

        & span {
            display: block;
        }
    }





}

.slider {
    position: relative;
    max-width: 960px;

    overflow: hidden;

    &__wrapper {}

    &__items {
        display: flex;
        position: absolute;
        


    }

    &__slide {
        max-width: 960px;
        width: 100%;
    }

    &__img {
        width: unset;
    }

    &__pagination {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 43px;
        left: 0;
        right: 0;
        max-width: 220px;
        width: 100%;
        margin: 0 auto;


        z-index: 9999;
    }

    &__round {
        display: block;
        max-width: 20px;
        width: 100%;
        min-height: 20px;
        height: 100%;
        background: rgba(196, 196, 196, 0.7);
        border-radius: 50%;

        &.active {
            background: $white;
        }
    }

}

@media (max-width:1750px) {
    
    .menu {

        &__inner {
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: repeat(6, 1fr);
            

           
            justify-content: center;
           
    
            & :nth-child(1){
                grid-row: 1;
                grid-column: 1;
            }
            & :nth-child(2){
                grid-row: 3;
                grid-column: 1;
            }
            & :nth-child(3){
                grid-row: 5;
                grid-column: 1;
            }
            & :nth-child(4){
                grid-row: 2;
                grid-column: 1;
                
            }
            & :nth-child(5){
                grid-row: 4;
                grid-column: 1;
                
            }
            & :nth-child(6){
                grid-row: 6;
                grid-column: 1;
                
            }
 
        }
    }
}