section.page-section.blur
    .blur__inner 
        .blur__card
            .blur__img 
                img(src="./images/blur__1.webp", alt="")
            .blur__content
                .blur__title KITCHEN
                a.blur__btn(href="#")  MORE
            .blur__filter
                img(src="./images/blur__1.webp", alt="")
        .blur__card
            .blur__img 
                img(src="./images/blur__2.webp", alt="")
            .blur__content
                .blur__title KITCHEN
                a.blur__btn(href="#")  MORE
            .blur__filter
                img(src="./images/blur__2.webp", alt="")
        .blur__card
            .blur__img 
                img(src="./images/blur__3.webp", alt="")
            .blur__content
                .blur__title KITCHEN
                a.blur__btn(href="#")  MORE
            .blur__filter
                img(src="./images/blur__3.webp", alt="")
        .blur__card
            .blur__img 
                img(src="./images/blur__4.webp", alt="")
            .blur__content
                .blur__title KITCHEN
                a.blur__btn(href="#")  MORE
            .blur__filter
                img(src="./images/blur__4.webp", alt="")