footer.footer   
    .footer__info 
        .footer__info-form   
            form.footer__form(action="")
                input.footer__form-input(type='text' placeholder='Date')
                input.footer__form-input(type='text' placeholder='Time')
                input.footer__form-input(type='text' placeholder='How many people')
                input.footer__form-input(type='text' placeholder='Special wishes')
                input.footer__form-input(type='text' placeholder='Your name')
                input.footer__form-input(type='text' placeholder='Your phone')
                p.footer__form-description Monday - Sunday ; 09:00 - 02:00
                input.footer__form-btn(type='submit' name='' id='' value='RESERVATION') 
                | 
        .footer__info-contact
            .contact__img 
                img(src="./images/logo.webp", alt="")
            ul.footer__contact-links 
                li 
                    a.links__link(href="")
                        img(src="./images/facebook.svg", alt="")         
                li 
                    a.links__link(href="")
                        img(src="./images/insta.svg", alt="")         
                li 
                    a.links__link(href="")
                        img(src="./images/telega.svg", alt="")
            ul.footer__contact-numbers 
                li 
                    h3.contact__numbers-title CONTACT
                li 
                    a.contact__numbers-tel(href="tel:(302) 555-0107") (302) 555-0107
                li 
                    a.contact__numbers-tel(href="tel:(239) 555-0108") (239) 555-0108
                li 
                    a.contact__numbers-mail(href="mailto:laperle.com") laperle.com
            ul.footer__contact-location 
                li 
                    h3.contact__location-title LOCATION
                li 
                    a.contact__location-address(href="https://goo.gl/maps/fXoJRCpp5j92doLz7") 1901 Thornridge Cir. Shiloh, Hawaii 81063
    .footer__reserve
        .footer__reserve-description 
            h2.description__title RESERVE A TABLE
            p.description__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.
        .footer__reserve-map 
            iframe.map__frame(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12615.949584599952!2d-155.85404958523375!3d19.93517927289904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x795387c4e209e4b7%3A0x3fb0588ec3b9460a!2sMauna%20Lani%20Resort!5e0!3m2!1sru!2s!4v1637405292305!5m2!1sru!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy")