header.header 
    .header__content 
        .sideBar 
            img.sideBar__logo(src="./images/logo.webp", alt="")
            ul.sideBar__menu 
                li
                    a.sideBar__menu-link(href="./page-menu.html") MENU
                li
                    a.sideBar__menu-link(href="./page-blur.html") ABOUT         
                li
                    a.sideBar__menu-link(href="") RESERVATIONS      
                li
                    a.sideBar__menu-link(href="") NEWS       
                li
                    a.sideBar__menu-link(href="") EVENTS       
                li
                    a.sideBar__menu-link(href="") CAREERS     
                li
                    a.sideBar__menu-link(href="") CONTACT     
            ul.sideBar__soc 
                li 
                    a.sideBar__soc-link(href="")
                        img(src="./images/facebook.svg", alt="")         
                li 
                    a.sideBar__soc-link(href="")
                        img(src="./images/insta.svg", alt="")         
                li 
                    a.sideBar__soc-link(href="")
                        img(src="./images/telega.svg", alt="")
            .sideBar__lang 
                  span.sideBar__lang-color EN
                  span /  
                  span.sideBar__lang-color RU
        .header__content-layout
            .layout__img 
                img.header__content-icon(src="./images/bars.svg", alt="")
            a.header__content-btn(href="") reserve
                    
