main.main 
    .main__discription 
        .discription__img.first 
            img(src="./images/main__menu.webp", alt="") 
        .discription__info.first
            h2.discription__info-title MENU    
            p.discription__info-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
            a.discription__info-btn(href="./page-menu.html")  READ MORE            
        .discription__info.middle.second
            h2.discription__info-title EVENTS    
            p.discription__info-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas purus velit interdum augue. Amet diam diam ultrices ut tincidunt. Risus semper sit mauris, vitae. Vel arcu bibendum accumsan, lacinia nisl.
            a.discription__info-btn(href="")  READ MORE
        .discription__img.second
            img(src="./images/main__events.webp", alt="") 
        .discription__img.third 
            img(src="./images/main__aboutUs.webp", alt="") 
        .discription__info.third
            h2.discription__info-title ABOUT US    
            p.discription__info-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
            a.discription__info-btn(href="./page-blur.html")  READ MORE
    .main__events
        .events__block 
            img(src="./images/main__greed__valentin.webp", alt="")
            p.events__block-text  VALENTINE’S DAY     
        .events__block 
            img(src="./images/main__greed__enjoy.webp", alt="")
            p.events__block-text  ENJOY 25% OFF DINNER      
        .events__block 
            img(src="./images/main__greed__fish.webp", alt="")
            p.events__block-text  FISH TARTARE WITH WASABI     
        .events__block 
            img(src="./images/main__greed__restaurant.webp", alt="")
            p.events__block-text  RESTAURANT REVIEW    
        .events__block 
            img(src="./images/main__greed__mothers.webp", alt="")
            p.events__block-text  MOTHER’S DAY     
        .events__block
            a.events__block-link CONTINUE READING OUR NEWS HERE