section.page-section.menu
    .menu__inner
        .slider
            .slider__items

                img.slider__img(src='./images/menu__slider1.webp' alt='')

                img.slider__img(src='./images/menu__slider2.webp' alt='')

                img.slider__img(src='./images/menu__slider3.webp' alt='')

                img.slider__img(src='./images/menu__slider4.webp' alt='')

                img.slider__img(src='./images/menu__slider2.webp' alt='')

                img.slider__img(src='./images/menu__slider3.webp' alt='')
            .slider__pagination
                .slider__round.active  
                .slider__round 
                .slider__round 
                .slider__round 
                .slider__round 
                .slider__round 
              
        .menu__content 
            h3.menu__number 2 nd
            ul.menu__list 
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        | Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name CRAB 
                    p.menu__description 
                        |Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé............................................ 55$

                li.menu__item
                    p.menu__name SALMON 
                    p.menu__description 
                        |Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        |Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu”....................................... 57$
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        |Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name CRAB 
                    p.menu__description 
                        |Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé............................................ 55$

                li.menu__item
                    p.menu__name SALMON 
                    p.menu__description 
                        |Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        |Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu”....................................... 57$
        .slider
            .slider__items

                img.slider__img(src='./images/menu__slider1.webp' alt='')

                img.slider__img(src='./images/menu__slider2.webp' alt='')

                img.slider__img(src='./images/menu__slider3.webp' alt='')

                img.slider__img(src='./images/menu__slider4.webp' alt='')

                img.slider__img(src='./images/menu__slider2.webp' alt='')

                img.slider__img(src='./images/menu__slider3.webp' alt='')
            .slider__pagination
                .slider__round.active  
                .slider__round 
                .slider__round 
                .slider__round 
                .slider__round 
                .slider__round 
              
        .menu__content 
            h3.menu__number 2 nd
            ul.menu__list 
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        | Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name CRAB 
                    p.menu__description 
                        |Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé............................................ 55$

                li.menu__item
                    p.menu__name SALMON 
                    p.menu__description 
                        |Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        |Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu”....................................... 57$
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        |Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name CRAB 
                    p.menu__description 
                        |Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé............................................ 55$

                li.menu__item
                    p.menu__name SALMON 
                    p.menu__description 
                        |Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        |Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu”....................................... 57$
        .slider
            .slider__items

                img.slider__img(src='./images/menu__slider1.webp' alt='')

                img.slider__img(src='./images/menu__slider2.webp' alt='')

                img.slider__img(src='./images/menu__slider3.webp' alt='')

                img.slider__img(src='./images/menu__slider4.webp' alt='')

                img.slider__img(src='./images/menu__slider2.webp' alt='')

                img.slider__img(src='./images/menu__slider3.webp' alt='')
            .slider__pagination
                .slider__round.active  
                .slider__round 
                .slider__round 
                .slider__round 
                .slider__round 
                .slider__round 
              
        .menu__content 
            h3.menu__number 2 nd
            ul.menu__list 
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        | Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name CRAB 
                    p.menu__description 
                        |Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé............................................ 55$

                li.menu__item
                    p.menu__name SALMON 
                    p.menu__description 
                        |Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        |Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu”....................................... 57$
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        |Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name CRAB 
                    p.menu__description 
                        |Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé............................................ 55$

                li.menu__item
                    p.menu__name SALMON 
                    p.menu__description 
                        |Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette
                        span Chives, Extra Virgin Olive Oil.................................................................................................... 38$
                li.menu__item
                    p.menu__name TUNA 
                    p.menu__description 
                        |Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu”....................................... 57$
    
    





